@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

#profile-card-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row;
  padding: 2rem;
  max-width: fit-content;
}

#profile-card {
  width: 19rem;
}
