@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  margin-top: 10px;
  margin-right: 4px;
}

ul {
  color: black;
  font-weight: bold;
  font-size: 23px;
}

.PV-h1 {
  color: black;
  font-size: 46px;
}

body {
  background-image: url('../images/abstract-background.jpg');
  background-attachment: fixed;
  background-size: contain;
}

#profiles-container {
  display: flex;
  justify-content: space-evenly;
}

#profile-card {
  width: 22rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.625);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(9, 1, 1, 0.18);
}

#profile-card-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row;
  padding: 1.5rem;
  max-width: fit-content;
}

#profile-card-img {
  height: 30rem;
}

.profile-card-list-group {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgb(7, 7, 7);
  width: auto;
}

#pc-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

#profile-view-container {
  text-align: center;
}

#profile-view {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.73);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(9, 1, 1, 0.18);
}

#profile-view-img {
  max-width: 20rem;
  max-height: 25rem;
  float: left;
  margin-right: 10px;
}

#bio {
  padding-top: 10px;
  font-size: 26px;
}

#pv-listgroup {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgb(7, 7, 7);
  width: auto;
  font-size: 22px;
}

#post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

#post-card {
  width: 28rem;
  height: 28rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.73);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 2rem;
}

#post-img {
  max-width: stretch;
  max-height: 18rem;
}

#post-header {
  font-size: 22px;
  text-align: center;
}

#profile-pg-header {
  font-size: 70px;
  text-align: center;
  margin-top: 20px;
}

#post-view-card {
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.625);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#search {
width: 14rem;
 background: rgba( 255, 255, 255, 0.25 );
 box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.625);
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#create-btn {
  text-align: center;
  margin-bottom: 25px;
}

#post-footer {
  text-align: center;
}

#nav {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(5, 6, 22, 0.53);
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
